[Unit]
Description=Announce Apache server

# Requirements
Requires=etcd.service
Requires=apache@%i.service

# Dependency ordering and binding
After=etcd.service
After=apache@%i.service
BindsTo=apache@%i.service

[Service]

# Get core OS environment variables
EnvironmentFile=/etc/environment

# Start
# Test wether service is accessible and then register useful information
ExecStart=/bin/bash -c "while true; \
  do \
    curl -f http://${COREOS_PUBLIC_IPV4}:80 > /dev/null 2>&1; \
    if [ $? -eq 0 ]; then \
      /usr/bin/etcdctl set /services/httpd/apache@%i '{\"host\": \"%H\", \"ipv4_addr\": \"${COREOS_PUBLIC_IPV4}\", \"port\": 80}' --ttl 30; \
    else \
      /usr/bin/etcdctl rm /services/httpd/apache@%i; \
    fi; \
    sleep 20; \
  done"

ExecStop=/usr/bin/etcdctl rm /services/website/apache@%i

[X-Fleet]
# Schedule on the same machine as the associated apache server
MachineOf=apache@%i.service